@media only screen and (max-width:400px) {
	div.main {
		padding: 0;
	}
	div.page-wrapper {
		margin: 0 !important;
		padding: 0 15px !important;
	}
	.page-wrapper>.blog-header {
		height: 250px !important;
		padding: 0 15px !important;
		margin: -15px -15px 15px !important;
	}
}
@media only screen and (max-width:500px) {
	.read-more {
		margin: 1.6em 0 !important;
	}
	.more {
		padding: 0.6em !important;
	}
}
@media only screen and (max-width:600px) {
	#global-footer #footer-nav {
		margin: 0 auto !important;
		border-bottom: none !important;
	}
	#footer-menu {
		display: none;
	}
	#footer-nav #share-menu {
		float: none !important;
		font-size: 1.6em;
		text-align: center;
		padding: 0;
	}
	h2.public-title {
		font-size: 1.6em;
	}
}
@media only screen and (max-width:650px) {
	.blog-header {
		height: 260px !important;
	}
}
@media only screen and (min-width:681px) {
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		overflow: visible !important;
	}
	.navbar-collapse {
		width: auto;
		box-shadow: none;
	}
}
@media only screen and (max-width:680px) {
	#global-header .navbar-collapse {
		float: none;
		padding: 0;
	}
	#global-header .navbar-collapse li {
		float: none;
	}
	#global-header .mobile-menu {
		display: block;
	}
	#global-header .wrapper-nav a.my-logo {
		position: absolute;
		top: 7px;
		left: 7px;
		color: #242628;
	}
	.my-logo.icon-droplet:before {
		color: #3C4043;
	}
	.menu-down li:first-child {
		padding-top: 44px;
	}
	.menu .menu-down li:first-child {
		padding-top: 0;
	}
}
@media only screen and (max-width:680px) {
	.page-wrapper .blog-sidebar {
		width: 100%;
	}
	.page-wrapper .blog-content {
		width: 100%;
	}
}
@media only screen and (max-width:680px) {
	#global-header {
		min-height: 44px !important;
	}
	#global-header .wrapper-nav {
		min-height: 44px !important;
		padding: 0 7px;
	}
	#global-header #main-menu li a {
		height: 44px;
		padding: 8px;
	}
	#global-header .wrapper-nav a.my-logo {
		position: absolute;
		font-size: 1.2em;
		top: 7px;
		color: #242628;
		background: #fff;
		z-index: 500;
	}
	.my-logo.icon-droplet:before {
		color: #3C4043;
	}
	.icon-droplet:hover:before, #global-header .wrapper-nav .icon-droplet:hover {
		color: #1E8CBE;
	}
}
@media only screen and (max-width:800px) {
	#footer-nav {
		margin: 80px auto 50px auto !important;
		font-size: .8em;
	}
}
@media only screen and (max-width:850px) {
	.page-wrapper {
		padding: 8% 11%;
	}
	.blog-header {
		width: 114%;
		padding: 0 11%;
		margin: -11% 0 11% -18%;
	}
}
@media only screen and (max-width:1100px) {
	.page-wrapper {
		padding: 30px 40px !important;
	}
}
@media only screen and (max-width:1130px) {
	.main>.page-wrapper {
		margin: 20px auto 15px auto;
	}
}