<footer id="global-footer">
		<nav id="footer-nav">
			<ul id="footer-menu">
				<li class="logo"></li>
				<li><a href="http://angelzou.github.io/index.html">INDEX</a></li>
				<li><a href="http://angelzou.github.io/about-me.html">ABOUT ME</a></li>
				<li><a target="_blank" href="http://weibo.com/u/2384822075/home?wvr=5">CONTACT</a></li>
			</ul>
			<div class="clearfix"></div>
			<ul id="share-menu">
				<li><a target="_blank" href="https://twitter.com/YuweiZou" class="icon-twitter-sign"><span class="hidden">twitter</span></a></li>
				<li><a target="_blank" href="https://www.facebook.com/angel.zou.12" class="icon-facebook-sign"><span class="hidden">facebook</span></a></li>
				<li><a target="_blank" href="https://plus.google.com/u/0/" class=" icon-google-plus-sign"><span class="hidden">google+</span></a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
		<section class="copyright">
				<p>Copyright © 2014 <a target="_blank" href="http://weibo.com/u/2384822075/home?wvr=5">@AngelZou</a> • All rights reserved.</p>
		</section>
	</footer>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
