{% include head.html %}
			<div class="wrap">
				<section class="blog-content">
					{{ content }}				
				</section>
				<!-- <aside class="blog-sidebar">
					<section class="my-info">
						<img src="/img/mypic.jpg"/>
						<p>爱哭，爱闹，爱傻笑</p>
					</section>
					<section class="blog-category" style="display: none;">
					</section>
					<section class="blog-tags" style="display: none;">
					</section>
				</aside> -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
{% include google_analytics.html %}
{% include foot.html %}
