{% include head.html %}
<body>
	<header id="global-header" class="navbar">
		<nav role="navigation">
			<div class="wrapper-nav">
				<a class="my-logo icon-droplet" href="index.html">AngelZou</a>
				<button type="button" class="mobile-menu icon-menu hidden" title="菜单">
					<span class="hidden">菜单</span>
				</button>
				<ul id="main-menu" class="navbar-collapse collapse">
					<li><a href="index.html">INDEX</a></li>
					<!-- <li><a href="#">标签</a></li> -->
					<li><a href="category.html">CATEGORY</a></li>
					<li><a href="about-me.html">ABOUT ME</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="main">
		<div class="page-wrapper">
			<header class="blog-header">
				<div class="vertical">
					<h1>Keep moving, Keep studying!
					</h1>
				</div>
			</header>
			<div class="wrap">
				<section class="blog-content">
					{{ content }}				
				</section>
				<!-- <aside class="blog-sidebar">
					<section class="my-info">
						<img src="/img/mypic.jpg"/>
						<p>爱哭，爱闹，爱傻笑</p>
					</section>
					<section class="blog-category" style="display: none;">
					</section>
					<section class="blog-tags" style="display: none;">
					</section>
				</aside> -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
{% include google_analytics.html %}
{% include foot.html %}
